*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --main-color:#F9C187;
    --second-color:orange;
}
::placeholder {
    color: rgb(172, 172, 172);
}

body{
    background-color: #F9C187;
}

.main
{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 70px auto;
    max-width: 1100px;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "result recipe";
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr 2fr;
}
.spinner{
    margin: auto;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;;
}
.spinner svg{
    animation: rotate 2s infinite linear;
}
@keyframes rotate{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
/* nav */
.nav{
    grid-area: nav;
    min-height: 90px;
    background-color: #F9F5F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
svg
{
    fill: red;
    padding: 0px;
    border-radius: 50%;
    margin: 0px;
}
.displayRecipe .options .notbookmarked svg{
    background-color: white;
}
.nav .searcher{
    background-color: white;
    border-radius: 30px;
    display: flex;
}
.nav .searcher button{
    background-color: var(--main-color);
    color: white;
    display: flex;
    border-radius: 30px;
    padding: 0px 20px;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
}
.nav .searcher button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.nav .buttons{
    display: flex;
    height: 100%;
}
.nav .buttons button{
    padding: 0px 10px;
    height:100%;
}
.nav .buttons button:hover{
    cursor: pointer;
    background-color: #eeeeee;
}
.nav img{
    width:110px;
    margin:0px 40px;
}
.nav button{
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    justify-content:center;
    align-items: center;
    transition: all 0.3s;
}

.nav input{
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0px 20px;
    text-align: center;
    height:40px;
    width:200px;
    border-radius: 30px;
}
.nav svg{
    color: white;
    width: 20px;;
    height:20px;
    margin: 10px;
    color:#fff;
}
/* nav */


/* searchResults */
.searchResults{
    grid-area: result;
    background-color: white;
    position: relative;
}
.paginateBtnWrapper{
    width:100%;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.paginateBtnWrapper button:hover{
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}
.searchResults .paginateleft,.searchResults .paginateright
{
    height: 40px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    color: red;

    border: none;
    outline: none;
    align-items: center;
    padding: 0px 20px;
}
.searchResults .paginateleft svg,.searchResults .paginateright svg{
    width:20px;
    height: 20px;
    margin: 0px 4px;
}
.searchResults .paginateleft
{

}
.searchResults .errorMessageResults,.displayRecipe .errorMessageResults
{
    width:100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchResults .errorMessageResults svg{
    padding: 0;
    margin: 5px;
    height: 30px;
    width: 30px;
}

.searchResults a,.bookmarks a{
    text-decoration: none;
    display: grid;
    grid-template-areas: 
    'img dish dish '
    'img pub pub';
    margin-bottom: 10px;
    padding: 10px 0px;
    position: relative;
}
.searchResults a .recipe__icon,.bookmarks a .recipe__icon{
    width: 20px;
    height: 20px;
    background-color: #e6e6e6;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    right:10px;
    bottom: 10px;
}
.searchResults a:hover,.bookmarks a:hover{
    background-color: #e6e6e6;
}
.searchResults .selected,.bookmarks .selected{
    background-color: #e6e6e6;
}
.searchResults .recipeImage,.bookmarks .recipeImage{
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F9C187;
    margin:auto;
    grid-area: img;
}
.recipeImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline:none;
    border: none;
}
.searchResults .dishName,.bookmarks .dishName{
    width: 200px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: dish;
}
.searchResults .dishPublisher,.bookmarks .dishPublisher{
    color: black;
    grid-area: pub;
    display: flex;
    align-items: center;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* searchResults */


/* displayRecipe */
.displayRecipe{
    background-color: #F9F5F3;
    grid-area: recipe;
}
.displayRecipe .foodImage{
    width: 100%;
    height:240px;
    background-color: #cea478;
}
.foodImage img{
    width: 100%;
    height: 100%;
    outline:none;
    border: none;
}
.displayRecipe svg{
    color: white;
    width: 20px;;
    height:20px;
    margin: 10px;
    color:#fff;
}
.displayRecipe .foodOptions div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayRecipe .foodOptions{
    display: flex;
    flex-direction: column;
}
.incrementServing,.decrementServing{
    border-radius: 50%;
    outline: none;
    padding: 0;
    border: 0;
    margin: 5px;
    background-color: transparent;
    transition: all 0.2s;
}
.incrementServing svg ,.decrementServing svg{
    margin: 0;
}
.decrementServing:hover,.incrementServing:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.displayRecipe .bookmark{
    border-radius: 50%;
    outline: 0px;
    height: 50px;
    width:50px;
    border: 0px;
    background-color: var(--second-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.displayRecipe .bookmark:hover{
    transform: scale(1.1);
}
.displayRecipe .foodOptions .foodName{
    background-color: var(--main-color);
    display: inline-block;
    margin: auto;
    min-height:50px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 900;
    padding: 10px;
}
.displayRecipe .bookmark svg,.recipeUserGenerated svg{
    width:26px;
    height:26px;
}
.displayRecipe .options div{
    margin: 30px;
}
.displayRecipe .recipeUserGenerated{
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
}

.displayRecipe .ingredients{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    flex-direction: column;
    padding: 30px;
}
.ingredients ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}
.ingredients ul li{
    display: flex;
    justify-content: start;
    align-items: center;
}
.displayRecipe .ingredients h3{
    color: red;
    padding-bottom: 30px;
}
.displayRecipe .moreInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.moreInfo a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bolder;
    transition: all 0.2s;
}
.moreInfo a:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.moreInfo a svg{
    margin: 0;
}
.moreInfo h3{
    color: red;
}
.moreInfo span{
    padding: 30px;
}

.displayRecipe .starterString{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
/* displayRecipe */



.bookmarks{
    background-color: white;
    min-height:130px;
    max-height: 90%;
    position: absolute;    
    top:9.8%;
    right: 0;
    width: 33%;
    overflow: scroll;
    transition: all 0.2s;
    display: none;
}

.bookmarks svg{

    height: 20px;
    width: 20px;
}

.bookmarks .bookmarkMessage{
    padding: 35px;

}
.bookmarks::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.bookmarks {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}




.formOverlay{
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.addForm{
    width:80%;
    z-index: 6;
    height: 60%;
    border-radius: 30px;
    background-color: white;
    position: relative;
    display: flex;
    padding: 30px;
    max-width: 800px;
}
.addForm>div{
    width: 50%;
    height: 80%;
    /* border: 1px solid brown; */
}
.addForm .formCloseBtn{
    height:30px;
    width:30px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 50%;
    font-weight: 900;
    font-size: 21px;
    top:20px;
    right: 20px;
    position: absolute;
    transition: all 0.2s;
}
.addForm .uploadBtn{
    height: 40px;
    width: 130px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    left:50%;
    font-size: 17px;
    font-weight: 900;
    transform: translateX(-50%);
    bottom: 30px;
    transition: all 0.2s;

}
.uploadBtn svg{
    height: 20px;
    width: 20px;
    fill: white;
}
.addForm button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.recipeData .data{
    display: grid;
    grid-template-columns: 24% 65%;
    grid-gap: 25px;
    grid-auto-rows: 30px;
}

.addForm input{
    outline: none;
    border-radius: 20px;
    text-align: center;
    border: 1px solid grey;
    padding: 0px 20px;
    font-size: 18px;
}

.addForm h2{
    margin: 25px;
    text-align: center;
}

.addForm .ingredientList{
    padding-left: 30px;
    display: grid;
    grid-template-columns: 90%;
    grid-auto-rows: 30px;
    row-gap: 25px;
    column-gap: 10px;
}
.ingredientList .ingredient{
    display: flex;
    justify-content: space-between;
}
.ingredientList input{
    width: 32%;
    font-size: 15px;
    padding: 11.1px;
}

.submitMessage{
    padding: 20px;
    position: absolute;
    bottom: 200px;
    height: 130px;
    width: 60%;
    max-width: 700px;
    background-color: var(--main-color);
    z-index: 10;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    color: white;
    font-weight: bolder;
}

.submitMessage svg{
    height: 30px;
    width: 30px;
    position: relative;
    top:-25px;
    padding: 0;
    fill:red;
    margin: 0;
}
.hidden{
    display: none;
}

.invisible{
    opacity: 0;
}
